@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(UsuarioFondo.jpg) no-repeat;
	background-size: cover;
}
.Admin-box{	
	width: 280px;
	position: absolute;
	top: 50%;
	left: 18%;
	transform: translate(190%,-80%);
	color: white;
}
.Songs-box{	
	width: 280px;
	position: absolute;
	top: 50%;
	left: 18%;
	transform: translate(280%,-150%);
	color: white;
}
.login-box h2{
	float: left;
	font-size: 30px;
	border-bottom: 6px solid yellow;
	margin-bottom: 50px;
	padding: 13px 0;
}
.login-box h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid yellow;
	margin-bottom: 50px;
	padding: 13px 0;
}
.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20%;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid yellow;
}
.Admin-box i{
	width: 200px;
	float: left;
	text-align: center;
	font-size: 35px;
	cursor: pointer;	
}
.textbox input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 25px;
	width: 80%;
	float: left;
	margin: 0 10px;
}
.btn{
	width: 43%;
	background: gray;
	border: 2px solid yellow;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}
.btn2{
	width: 50%;
	background: solid gray;
	border: 2px solid yellow;
	color: green;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}
.btn3{
	width: 90%;
	background: gray;
	border: 2px solid yellow;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}
.Etiqueta1{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 18%;
	transform: translate(-50%,-120%);
	color: white;
}
.table1{	
	float: left;
	width: 18px;
	position: absolute;
	top: 50%;
	left: 18%;
	transform: translate(-40%,-5%);
	color: white;
}