@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(fondo-login.jpg) no-repeat;
	background-size: cover;
}
.NewUser-box{	
	width: 280px;
	position: absolute;
	top: 50%;
	left: 18%;
	transform: translate(262%,-53%);
	color: white;
}
.NewUser-box h2{
	float: right;
	font-size: 30px;
	border-bottom: 6px solid yellow;
	margin-bottom: 10px;
	padding: 13px 0;	
}
.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20%;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid yellow;
}

.textbox input{
	border: none;
	outline: none;
	background: white;
	color: black;
	font-size: 25px;
	width: 80%;
	float: left;
	margin: 0 10px;
}
.textbox h4{
	float: left;
	font-size: 20px;
	padding: 2px 0;
	margin: 2px 0;
	color: black;
}
.btn{
	width: 43%;
	background: orange;
	border: 2px solid yellow;
	color: black;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}
.btn2{
	width: 43%;
	background: red;
	border: 2px solid yellow;
	color: black;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}